*{
    padding:0;
    margin:0;
}

h1{
    color:white;
    font-size: 6rem;
    margin:10px;
    margin: auto;
}

p{
    color:white;
    margin:10px;
    font-size: 1.5rem;
    margin: auto;
}

body{
    background: grey;
}

.earthAndMoon{
    display: flex;
    margin:auto;
}

.earthSelected{
    border:10px solid white;
    border-radius: 50%;
}

.moon{
   margin-top: 6rem;  
}

.moonSelected{
    border:10px solid white;
    border-radius: 50%; 
    margin-top: 6rem;    
}