*{
    padding:0;
    margin:0;
}

h1{
    color:white;
    font-size: 6rem;
    margin:10px;
    margin-left:20rem;
    margin-right:20rem;

}

p{
    color:white;
    margin:10px;
    font-size: 1.5rem;
    margin-left:20rem;
    margin-right:20rem;
}

body{
    background: rgb(64, 64, 64);
}

.earthAndMoon{
    display: flex;
    justify-content: space-evenly;
    margin-top:6rem;
}

.earthSelected{
    border:10px solid white;
    border-radius: 50%;
}

.moon{
   margin-top: 7rem;  
}

.moonSelected{
    border:10px solid white;
    border-radius: 50%; 
    margin-top: 7rem;    
}